doctype html
head
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(src='/javascripts/script.js' defer)
body
  nav.navbar.fixed-top.navbar-toggleable-md.navbar-inverse
    .container
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarMain')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.col-xs-2(href='/ ') SharpCutApp
      .col-xs-8
      #navbarMain.navbar-collapse.collapse.col-lg-2
        ul.nav.navbar-nav
          li.nav-item.dropdown
            a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Barber 
              span.caret
            ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
              li
                a.dropdown-item(href='/location/signup') SignUp
              li
                a.dropdown-item(href='/location/login') Login
  .container
    block content
    footer
      .row
        .col-12
          small &copy; Lomax Os 2022
  script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
  script(src='/javascripts/bootstrap.min.js')
  


