extends layout 
block content
    .row.banner
        .col-12
            h1 #{pageHeader.title}
                small &nbsp; #{pageHeader.strapline}
    .row
        .col-12.col-md-6
            .card-form
                .col
                    h1 Sign Up
                    form(action='#', method='get' class='signupForm')
                        fieldset.clearfix
                            p  
                                input(type='text', class="form-control input-lg" placeholder='Full Name', required='' onchange="validateSignupInputs()")     
                            p  
                                input(type='text', class="form-control input-lg" placeholder='Address', required='' onchange="validateSignupInputs()")  
                            p  
                                input(type='text', class="form-control input-lg" placeholder='City', required='' onchange="validateSignupInputs()")
                            p  
                                input(type='number', class="form-control input-lg" placeholder='Adult Price', required='' max='100' min='5' 
                                onchange="validateSignupInputs()")
                            p  
                                input(type='number', class="form-control input-lg" placeholder='Children Price', required='' max='10' min='5' onchange="validateSignupInputs()")   
                            p
                                input(type='email', class="form-control input-lg" placeholder='Email', required='' onchange="validateSignupInputs()")
                            p
                                input(type='tel', class="form-control input-lg" placeholder='phone Number', required='' onchange="validateSignupInputs()")
                            p  
                                input(type='password', class="form-control input-lg"  id="password" placeholder='Password' readonly)
                            span
                                input(type='submit', value='Sign Up' id="signupButton")
                    
        .col-12.col-md-6.aside_logo
            img(src='/images/sharpCutAppLogo.png')
            h1.logo_title 
                strong SharpCutApp.