extends layout 
block content
    .row.banner
        .col-12
            h1 SharpCutApp
                small &nbsp; Register your account to be able to book your appointment
    .row
        .col-12.col-md-6
            .card-form
                .col
                    h1 Sign Up
                    form(action='#', method='get')
                        fieldset.clearfix
                            p  
                                input(type='text', class="form-control input-lg" placeholder='Full Name', required='')   
                            p  
                                input(type='number', class="form-control input-lg" placeholder='Adult Price', required='' max='100' min='5')
                            p  
                                input(type='number', class="form-control input-lg" placeholder='Children Price', required='' max='100' min='5')  
                            p  
                                input(type='text', class="form-control input-lg" placeholder='Address', required='')  
                            p  
                                input(type='text', class="form-control input-lg" placeholder='City', required='')    
                            p
                                input(type='email', class="form-control input-lg" placeholder='Email', required='')
                            p  
                                input(type='password', class="form-control input-lg" placeholder='Password', required='')
                            p  
                                input(type='password', class="form-control input-lg"  placeholder='Confirm Password', required='')
                            span
                                input(type='submit', value='Sign Up')
                    
        .col-12.col-md-6.aside_logo
            img(src='/images/sharpCutAppLogo.png')
            h1.logo_title 
                strong SharpCutApp.